################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/styles
/scripts
/maps
/index.html
/favicon.png
/assets
/app
