<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionStringSensory" connectionString="Persist Security Info=False;User ID=Orpak;Initial Catalog=PUMPOMAT_HO_ORPAK3;Data Source=23.97.198.20;password=Orpak$Wetstock" />
    <add name="ConnectionStringXXX" connectionString="Persist Security Info=False;User ID=sensory;Initial Catalog=PUMPOMAT_HO_ORPAK;Data Source=62.0.79.122;password=WSM1234" />
  </connectionStrings>
</configuration>